/* bar */
.bar {
    width: 90%;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin-bottom: 12px;

}

.bar__icon {
    width: 15px;
    height: 15px;
}

.bar__wrapper {
    background-image: linear-gradient(90deg, #00F260, #0575E6);
    border-radius: 20px;
    padding: 4px 14px;
    color: #fff;
    font-size: 0.9rem
}
