/* navbar */
.navbar__items{
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: #354358;
    border-bottom: 4px solid #00F260;
}

.navbar__item{
    margin-right: 20px;
    text-decoration: none;
    color: #354358;
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar__item:hover{
    background: -webkit-linear-gradient(#00F260,#0575E6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


@media (max-width:600px) {
    .navbar__active {
        font-size: 1.8rem;
        color: #f10000;
    }
    
    .navbar__item {
        font-size: 1rem;
        font-weight: 800;
    }

}