@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(to right bottom,#00F260,#0575E6);
    background-attachment: fixed;
    color:#354548;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, #00F260, #0575E6);

}

a {
    text-decoration: none;
    color: #354548;
}
a:hover {
    text-decoration: none;
    color: #000;
}

.app__container {
    padding-top: 20px;
}
.app_row {
    height: 86vh;
}

.app_main-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
}

@media(max-width:991px) {
    .app_main-content{
        margin: 30px 0px;
    }
}

/* mobile view */
@media (max-width:600px) {
    .app_main-content {
        margin-right: 10px;
        margin-left: 10px;
        margin-top:15px;
        height: 92vh;
        padding:10px 5px;
    }
    .app_sidebar-content{
        margin-right: 10px;
        margin-left: 10px;
        height: 92vh;
        padding:10px 5px;
    }

    .navbar__active {
        font-size: 1.5rem;
    }
    
    .navbar__item {
        font-size: 1rem;
    }

    
}